body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    width: 70%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#first, #second {
    width: 40%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid purple;
    justify-content: center;
    align-content: center;
}
.circle{
    width: 80%;
    height: 80%;  
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    font-size: 2vw;
    /* line-height: 50px; */
    /* vertical-align: middle; */
    margin-left: calc(50%  - 40%);
/* background: radial-gradient(circle at 15px 15px, #5cabff, #000); */
  text-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}
#second .circle{
    cursor: unset;
}
/* #reset {
   
} */