body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#first, #second {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid purple;
    justify-content: center;
    align-content: center;
}
.circle{
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    line-height: 50px;
    margin-left: calc(50%  - 25px);
  height: 50px;
  width: 50px;
  /* background: radial-gradient(circle at 15px 15px, #5cabff, #000); */
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}
#second .circle{
    cursor: unset;
}
#reset {
   
}